@import "locomotive-scroll/dist/locomotive-scroll.css";

/**
    RESET STYLES
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.2;

  /* 5. Improve text rendering */
  font-family: "Acumin Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  transition: background-color 0.3s ease;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  Variables
*/
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #111111;
  --color-light: #faf6ef;
  --color-blue: #3291ff;
  --color-yellow: #fcbe4f;
  --color-orange: #ff8922;

  --columns: 12;
  --rows: 1;
  --gutter-x: 3.31vw;
  --gutter-y: 5.55vh;
  --font-size: 2.6666666667vw;
  --grid-gap: 1.655vw;
  --grid-space: calc((100% + -4 * var(--grid-gap)) / 12);
}

html {
  font-size: 2.6666666667vw;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
}

@media only screen and (min-width: 450px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 0.625vw;
  }
}

/**
  Containers
*/
.container,
.container-grid {
  margin-inline: var(--gutter-x);
}

.grid,
.container-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: var(--grid-gap);
}

/**
  Typography
*/
.heading-1 {
  font-family: "Neutronic", serif;
  font-weight: 900;
  font-size: 5.5rem;
  letter-spacing: -0.02em;
  line-height: 1.05;
}

.heading-2 {
  font-family: "Neutronic", serif;
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  line-height: 1.12;
}

.text-body-1 {
  font-family: "Acumin Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 1.3;
}

.text-body-2 {
  font-family: "Acumin Pro", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  line-height: 1;
}

@media only screen and (min-width: 1024px) {
  .heading-1 {
    font-size: 14.675rem;
  }
  .heading-2 {
    font-size: 6.775rem;
  }
  .text-body-1 {
    font-size: 3.2rem;
  }
  .text-body-2 {
    font-size: 2.4rem;
  }
}

/* 
  Utils
*/

.blend-mode {
  mix-blend-mode: difference;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.js-char {
  display: inline-block;
}
