// mixins for breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == "phone" {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 901px) {
      @content;
    }
  } @else if $breakpoint == "large-screen" {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == "wide-screen" {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
// how to use:
// @include respond-to("phone") {
//   // CSS rules for phone screens
// }
