// mixins for breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == "phone" {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 901px) {
      @content;
    }
  } @else if $breakpoint == "large-screen" {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == "wide-screen" {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

@mixin grid {
  display: grid;
  grid-template-columns:
    var(--grid-col-mobile-1)
    var(--grid-col-mobile-2)
    var(--grid-col-mobile-3);
  gap: var(--grid-gap);
  width: 100%;

  @include respond-to("desktop") {
    grid-template-columns:
      var(--grid-col-1)
      var(--grid-col-2)
      var(--grid-col-3)
      var(--grid-col-4);
  }
}

@mixin font-inter {
  font-family: var(--font-inter);
}
// how to use:
// @include respond-to("phone") {
//   // CSS rules for phone screens
// }
